<div class="reservation-movie-info">
    <h2>{{movie.name}}</h2>
    <h3>Screenings:</h3>
    <ul>
        <li class="screening-item-reservation" ng-repeat="screening in screenings">
            <a href="" ng-click="changeScreening($index)">{{screening.scrBegin}}-{{screening.scrEnd}}</a>
        </li>
    </ul>
</div>
<div class="reservation-ticket-info">
    <a class="btn btn-default confirm-tickets">Confirm reservation <i class="fa fa-shopping-cart"></i></a>
    <h2>Reservation info:</h2>
    <h3>Screening: {{currentScreening.scrBegin}}-{{currentScreening.scrEnd}}</h3>
    <h3>Seats:</h3>
    <ul>
        <li class="ticket-item-reservation" ng-repeat="reservation in currentReservations">
            <p>{{rowSigns[reservation.positionY - 1]}}{{reservation.positionX}}</p>
        </li>
    </ul>
</div>
<div class="wide-container">
    <div class="screen-imitation"></div>
    <h1>Screen</h1>
    <div class="cinema-row" ng-repeat="i in seatsY">
        <div ng-repeat="j in seatsX">
            <div class="cinema-seat" ng-init="tab = 1" ng-class="{'cinema-seat-reserved': tab == 2}" ng-click="changeReservation($index,$parent.$parent.$index, tab);tab == 2 ? (tab = 1) : (tab = 2)" ng-if="seatsSchedule[$parent.$index*currentTheater.sizeX + $index] == 0">
                <p>{{rowSigns[i - 1]}}{{$index + 1}}</p>
            </div>
            <div class="cinema-seat-taken" ng-if="seatsSchedule[$parent.$index*currentTheater.sizeX + $index] == 1">
                <p>{{rowSigns[i - 1]}}{{$index + 1}}</p>
            </div>
        </div>
    </div>
</div>
