<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div ng-include="announcementTemplate"/>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="announcements">
    <div class="blog-post-area">
        <h2 class="title text-center" translate>announcesment.title.label</h2>

        <div class="single-blog-post" ng-repeat="event in events">
            <h3>{{event.name}}</h3>

            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-clock-o"></i> {{event.time}}</li>
                    <li><i class="fa fa-calendar"></i> {{event.date}}</li>
                </ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
            </div>
            <a href="">
                <img src="/resources/images/blog/blog-one.jpg" alt="">
            </a>

            <p>{{ event.description }}</p>
            <button class="btn btn-primary pull-right" ng-click="showDetails(event)" translate>
                announcesment.readMore.label
            </button>
            <!--<a class="btn btn-primary" href="" translate>announcesment.readMore.label</a>-->
        </div>
    </div>
</script>

<script type="text/ng-template" id="announcement">
    <div class="blog-post-area">
        <h2 class="title text-center" translate>announcesment.title.label</h2>

        <div class="single-blog-post">
            <h3>{{oneEvent.name}}</h3>

            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-clock-o"></i> {{oneEvent.time}}</li>
                    <li><i class="fa fa-calendar"></i> {{oneEvent.date}}</li>
                </ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
            </div>
            <a href="">
                <img src="/resources/images/blog/blog-one.jpg" alt="">
            </a>

            <p>{{ oneEvent.description }}</p>
            <br>
        </div>
    </div>
</script>