<div class="wide-container">
    <div class="cinema-row" ng-repeat="i in seatsY">
        <div ng-repeat="j in seatsX">
            <div class="cinema-seat" ng-if="seatsSchedule[$parent.$index*currentTheater.sizeX + $index] == 0">
                <p>{{rowSigns[i - 1]}}{{$index + 1}}</p>
            </div>
            <div class="cinema-seat-taken" ng-if="seatsSchedule[$parent.$index*currentTheater.sizeX + $index] == 1">
                <p>{{rowSigns[i - 1]}}{{$index + 1}}</p>
            </div>
        </div>
    </div>
</div>