<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="{ 'active' : templatePath == 'screeningsPerDay' }">
                    <a ng-click="loadChart('screeningsPerDay')" translate>stats.menu.daily.screenings</a>
                </li>
                <li role="presentation" ng-class="{ 'active' : templatePath == 'screeningsPerMonth' }">
                    <a ng-click="loadChart('screeningsPerMonth')" translate>stats.menu.monthly.screenings</a>
                </li>
                <li role="presentation" ng-class="{ 'active' : templatePath == 'ticketsPerDay' }">
                    <a ng-click="loadChart('ticketsPerDay')" translate>stats.menu.daily.tickets</a>
                </li>
                <li role="presentation" ng-class="{ 'active' : templatePath == 'ticketsPerMonth' }">
                    <a ng-click="loadChart('ticketsPerMonth')" translate>stats.menu.monthly.tickets</a>
                </li>
                <li role="presentation" ng-class="{ 'active' : templatePath == 'eventsPerDay' }">
                    <a ng-click="loadChart('eventsPerDay')" translate>stats.menu.daily.events</a>
                </li>
                <li role="presentation" ng-class="{ 'active' : templatePath == 'eventsPerMonth' }">
                    <a ng-click="loadChart('eventsPerMonth')" translate>stats.menu.monthly.events</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-10 text-center">
            <canvas id="line"
                    width="600"
                    height="300"
                    class="chart chart-line"
                    chart-data="data"
                    chart-labels="labels"
                    chart-legend="true"
                    chart-series="series"
                    chart-click="onClick">
            </canvas>
        </div>
    </div>
</div>