<div class="container">
<div class="row">
    <div class="col-lg-3 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="{ 'active' : templatePath == 'users' }"><a ng-click="loadTemplate('users')" translate>admin.menu.users</a></li>
            <li role="presentation" ng-class="{ 'active' : templatePath == 'movies' }"><a ng-click="loadTemplate('movies')" translate>admin.menu.movies</a></li>
            <li role="presentation" ng-class="{ 'active' : templatePath == 'theaters' }"><a ng-click="loadTemplate('theaters')" translate>admin.menu.theaters</a></li>
            <li role="presentation" ng-class="{ 'active' : templatePath == 'events' }"><a ng-click="loadTemplate('events')" translate>admin.menu.events</a></li>

        </ul>
    </div>
    <div class="col-lg-9 col-md-9">
        <div ng-include="templatePath"/>
    </div>
</div>
</div>

<script type="text/ng-template" id="events">
    <button type="button"
            data-toggle="modal"
            ng-click="createEvent()"
            class="pull-right btn btn-success" translate>admin.add.new.event.button</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th translate>admin.events.event.name</th>
            <th translate>admin.events.event.description</th>
            <th translate>admin.events.event.timeBegin</th>
            <th translate>admin.events.event.timeEnd</th>
            <th translate>admin.events.event.edit</th>
            <th translate>admin.events.event.delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in events">
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.timeBegin }}</td>
            <td>{{ event.dateEnd }}</td>

            <td><button class="btn btn-warning" ng-click="editEvent(event)"><span class="glyphicon glyphicon-edit"></span></button> </td>
            <td><button class="btn btn-danger" ng-click="deleteEvent(event)"><span class="glyphicon glyphicon-remove"></span></button> </td>
        </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="users">
    <button type="button"
            data-toggle="modal"
            ng-click="createUser()"
            class="pull-right btn btn-success" translate>admin.add.new.user.button</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th translate>admin.users.user.name</th>
                <th translate>admin.users.user.username</th>
                <th translate>admin.users.user.email</th>
                <th translate>admin.users.user.edit</th>
                <th translate>admin.users.user.delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><button class="btn btn-warning" ng-click="editUser(user)"><span class="glyphicon glyphicon-edit"></span></button> </td>
                <td><button class="btn btn-danger" ng-click="deleteUser(user)"><span class="glyphicon glyphicon-remove"></span></button> </td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="movies">
    <button type="button"
            data-toggle="modal"
            ng-click="createMovie()"
            class="pull-right btn btn-success" translate>admin.add.new.movie.button</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th translate>admin.movies.movie.name</th>
            <th translate>admin.movies.movie.genre</th>
            <th translate>admin.movies.movie.director</th>
            <th translate>admin.movies.movie.edit</th>
            <th translate>admin.movies.movie.delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in movies">
            <td>{{ movie.name }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.director }}</td>
            <td><button class="btn btn-warning" ng-click="editMovie(movie)"><span class="glyphicon glyphicon-edit"></span></button> </td>
            <td><button class="btn btn-danger" ng-click="deleteMovie(movie)"><span class="glyphicon glyphicon-remove"></span></button> </td>
        </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="theaters">
    <button type="button"
            data-toggle="modal"
            ng-click="createTheater()"
            class="pull-right btn btn-success" translate>admin.add.new.theater.button</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th translate>admin.theaters.theater.name</th>
            <th translate>admin.theaters.theater.sizeX</th>
            <th translate>admin.theaters.theater.sizeY</th>
            <th translate>admin.theaters.theater.edit</th>
            <th translate>admin.theaters.theater.delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="theater in theaters">
            <td>{{ theater.name }}</td>
            <td>{{ theater.sizeX }}</td>
            <td>{{ theater.sizeY }}</td>
            <td><button class="btn btn-warning" ng-click="editTheater(theater)"><span class="glyphicon glyphicon-edit"></span></button> </td>
            <td><button class="btn btn-danger" ng-click="deleteTheater(theater)"><span class="glyphicon glyphicon-remove"></span></button> </td>
        </tr>
        </tbody>
    </table>
</script>


<!--Modal-->
<div class="modal fade"
     id="userModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- modal create new application start -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-uppercase">{{ modalHeader }}</h2>
            </div>
            <div class="modal-body"> <!-- modal body start -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="user.address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="user.number">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="user.admin"> Admin
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="user.enabled"> Enabled
                        </label>
                    </div>
                </form>
            </div>
            <!-- // modal body end -->

            <div class="modal-footer"> <!-- modal footer start -->
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cleanUserDialog()">Cancel</button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="handleUser()"
                        aria-hidden="true">{{ submitModal }}
                </button>
            </div>
            <!-- // modal footer end -->

        </div>
    </div>
</div>



<!--Modal-->
<div class="modal fade"
     id="movieModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- modal create new application start -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-uppercase">{{ modalHeader }}</h2>
            </div>
            <div class="modal-body"> <!-- modal body start -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="movieName" placeholder="Name" ng-model="movie.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="genre" placeholder="Genre" ng-model="movie.genre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="director" placeholder="Director" ng-model="movie.director">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="duration" placeholder="Duration" ng-model="movie.duration">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="descripton" placeholder="Description" ng-model="movie.description"></textarea>
                    </div>
                </form>
            </div>
            <!-- // modal body end -->

            <div class="modal-footer"> <!-- modal footer start -->
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cleanMovieDialog()">Cancel</button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="handleMovie()"
                        aria-hidden="true">{{ submitModal }}
                </button>
            </div>
            <!-- // modal footer end -->

        </div>
    </div>
</div>


<!--Modal-->
<div class="modal fade"
     id="theaterModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- modal create new application start -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-uppercase">{{ modalHeader }}</h2>
            </div>
            <div class="modal-body"> <!-- modal body start -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="theaterName" placeholder="Name" ng-model="theater.name">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="XDimension" placeholder="X Dimension" ng-model="theater.sizeX">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="YDimension" placeholder="Y Dimension" ng-model="theater.sizeY">
                    </div>
                </form>
            </div>
            <!-- // modal body end -->

            <div class="modal-footer"> <!-- modal footer start -->
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cleanTheaterDialog()">Cancel</button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="handleTheater()"
                        aria-hidden="true">{{ submitModal }}
                </button>
            </div>
            <!-- // modal footer end -->

        </div>
    </div>
</div>


<!--Modal-->
<div class="modal fade"
     id="eventModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- modal create new application start -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-uppercase">{{ modalHeader }}</h2>
            </div>
            <div class="modal-body"> <!-- modal body start -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="eventName" placeholder="Name" ng-model="event.name">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="eventDescripton" placeholder="Description"
                                  ng-model="event.description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="eventTimeBegin" placeholder="Name" ng-model="event.timeBegin">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="eventTimeEnd" placeholder="Name" ng-model="event.timeEnd">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                        </div>
                    </div>

                </form>
            </div>
            <!-- // modal body end -->

            <div class="modal-footer"> <!-- modal footer start -->
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                        ng-click="cleanEventDialog()">Cancel
                </button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="handleEvent()"
                        aria-hidden="true">{{ submitModal }}
                </button>
            </div>
            <!-- // modal footer end -->

        </div>
    </div>
</div>
