<div class="container">
<div class="row">
    <div class="col-lg-3 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="{ 'active' : templatePath == 'users' }"><a ng-click="loadTemplate('users')" translate>admin.menu.users</a></li>
            <li role="presentation" ng-class="{ 'active' : templatePath == 'movies' }"><a ng-click="loadTemplate('movies')" translate>admin.menu.movies</a></li>
            <li role="presentation" ng-class="{ 'active' : templatePath == 'theaters' }"><a ng-click="loadTemplate('theaters')" translate>admin.menu.theaters</a></li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9">
        <div ng-include="templatePath"/>
    </div>
</div>
</div>


<script type="text/ng-template" id="users">
    <button type="button"
            data-toggle="modal"
            ng-click="createUser()"
            class="pull-right btn btn-success" translate>admin.add.new.user.button</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th translate>admin.users.user.name</th>
                <th translate>admin.users.user.username</th>
                <th translate>admin.users.user.email</th>
                <th translate>admin.users.user.edit</th>
                <th translate>admin.users.user.delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><button class="btn btn-warning" ng-click="editUser(user)"><span class="glyphicon glyphicon-edit"></span></button> </td>
                <td><button class="btn btn-danger" ng-click="deleteUser(user)"><span class="glyphicon glyphicon-remove"></span></button> </td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="movies">
    Movies
</script>

<script type="text/ng-template" id="theaters">
    Theaters
</script>


<!--Modal-->
<div class="modal fade"
     id="userModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- modal create new application start -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-uppercase">{{ modalHeader }}</h2>
            </div>
            <div class="modal-body"> <!-- modal body start -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="user.address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="user.number">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="user.admin"> Admin
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="user.enabled"> Enabled
                        </label>
                    </div>
                </form>
            </div>
            <!-- // modal body end -->

            <div class="modal-footer"> <!-- modal footer start -->
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cleanUserDialog()">Cancel</button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="handleUser()"
                        aria-hidden="true">{{ submitModal }}
                </button>
            </div>
            <!-- // modal footer end -->

        </div>
    </div>
</div>